body {
  width: 1180px;
  background-color: #D8BFD8;
  font: 100% Lucida Console, Courier, monospace;
  margin: 0 auto;
}

.header__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.header:before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6B0052;
  z-index: 2;
}

.header__body {
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex: 0 0 60px;
  /* position: relative; */
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
}

.header__list {
  list-style: none;
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  font-family: sans-serif;
  margin-right: 20px;
  letter-spacing: 0.1em;
}
.header__link:hover {
  color: white;
  border-bottom: 2px solid white;
  font-size: 20px;
}

.content {
  max-width: 1180px;
  padding: 100px 0px 0px 0px;
}

.content__container {
  max-width: 1180px;
  padding: 0 10px;
}

.content__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  font-size: 40px;
  color: #6B0052;
  text-align: center;
  font-weight: bold;
}

/* h3 {

} */
.photo-box {
  width: 30%;
}

.photo {
  width: 25%;
  margin-top: 30px;
}
.photo img {
  border-radius: 20em;
  box-shadow: 0px 0px 10px 10px #0000BD;
}

.info {
  width: 65%;
}

.info__about-me p {
  text-align: justify;
}

.info__items {
  list-style: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.footer__social-link {
  width: 30%;
  text-transform: uppercase;
}
.footer__social-link a {
  color: #6B0052;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.footer__social-link a:hover {
  color: #0000BD;
  font-size: 20px;
}

.copyrights {
  position: fixed;
  left: 140px;
  bottom: 50px;
}

.social-links {
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .header__burger {
    height: 20px;
    width: 30px;
    display: block;
    position: relative;
    z-index: 3;
  }
  .header__burger:before {
    height: 4px;
    width: 100%;
    content: "";
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
  }
  .header__burger:after {
    height: 4px;
    width: 100%;
    content: "";
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .header__burger span {
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    top: 8px;
  }

  .header__menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: cornsilk;
    padding: 70px 10px 20px 10px;
  }

  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
