@use 'variables';

@mixin fontWeight() {
    font-weight: bold;
}
@mixin padding () {
    padding: 60px 40px;
}
@mixin noneListStyle() {
    list-style: none;
}
@mixin centerTextAligh {
    text-align: center;
}



body {
    background-color: variables.$backgroundColor;
    font: 100% variables.$fontFamily;
    height: 100%;
}
.header__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6B0052;
        z-index: 2;
    }
    
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;    
}
.header__logo {
    flex: 0 0 60px;
    position: relative;
    z-index: 3;

    & img{
        max-width: 100%;
    }
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;

    & li{
        list-style: none;
        margin: 0px 0px 0px 20px;
    }
}

.header__link {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    &:hover {
        border-bottom: 2px solid black;
    }
}

.content {
    padding: 100px 0px 0px 0px;
}

header {
    @include fontWeight();
    @include centerTextAligh();

    font-size: 40px;
    color: #6B0052;
    width: 100%;
}

h3 {
    @include centerTextAligh();
}
.container {
    max-width: 1180px;
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
}
.photo {
    width: 25%;
    @include padding();
    & img {
        border-radius: 20em;
        box-shadow: 0px 0px 10px 10px rgb(0 0 189);
    }
}
.info {
    width: 75%;
    @include padding();
}
.info__about-me {
    & p{
        text-align: justify;
    }
}
.info__education {
    & ul {
        & li {
            list-style: none;
        }
    }
}

@media (max-width: 767px){
    .header__body {
        height: 50px;
    }
    .header__logo {
        flex: 0 0 40px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;

        &:before{
            content: '';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            top: 0;
        } 

        &:after {
            content: '';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: 0;
        } 
        & span{
            position: absolute;
            background-color: black;
            left: 0;
            width: 100%;
            height: 4px;
            top: 9px;
        }
    }
    
    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: cornsilk;
        padding: 70px 10px 20px 10px;
    }
    .header__list {
        display: block;
        & li {
            margin: 0px 0px 20px 0px;
        }
    }
    
} 
